{% extends 'base.html' %}

{% block title %}Cupcakes{% endblock %}

{% block content %}
<h1>Cupcakes!</h1>
<ul id="cupcakes-list">
    
</ul>

<!-- no need to have name because this is only used by servers -->
<form id="add-cupcake-form">
    <label for="flavor">Flavor: </label>
    <input name="flavor" id='flavor'>

    <label for="size">Size: </label>
    <input name="size" id ='size'>

    <label for="rating">Rating: </label>
    <input type="number" name="rating" id ='rating'>

    <label for="image">Image URL: </label>
    <input type="url" name="image" id = 'image_url'>
    <button>Add Cupcake</button>
</form>

{% endblock %}

<!--
{% for cupcake in cupcakes %}
    <li>
        <p>Flavor: {{ cupcake.flavor }}</p>
        <p>Size: {{ cupcake.size }}</p>
        <p>Rating: {{ cupcake.rating }}</p> 
        <img src="{{cupcake.image}}" alt="{{cupcake.flavor}}">  
    </li>
    {% endfor %}
-->